<html lnag="ko">

<head>
	<meta charset="UTF-8">
	<title>펴다 로그인</title>
	<link rel="stylesheet" href="./login.css">
    <link rel="stylesheet" href="../../design/font.css">
	<link rel="icon" href="../../assets/favicon.ico" />
	<script src="login.js"></script>
	<scropt>


</head>

<body>
    <script src="./login.js"></script>
	<div class="main">

		<!--웹페이지 상단-->
		<header>
			<!--language select-->


			<!--NAVER LOGO--><br><br>
			<div class="logo">
				<a href="../../home.html"_blank" title="홈페이지">Pyeoda</a>
			</div>
            <br><br><br>
		</header>

		<!--로그인 부분-->
		<section class="login-wrap">

			<div class="login-id-wrap">
				<input placeholder="아이디" type="text" class="input-id"></input>
			</div>
			<div class="login-pw-wrap">
				<input placeholder="비밀번호" type="password" class="input-pw"></input>
			</div>
			<div class="login-btn-wrap">
                
				<button class="login-btn" onclick="alert('현재는 로그인 할수가 없습니다.')">로그인</button>
			</div>
            <br>
			<div class="under-login">
				<span class="stay-check">
					<input type="checkbox" name="stay-btn" value="stay" class="stay-checkbox">로그인 상태 유지
				</span>
				<span class="ip-check">
					IP 보안 <input type="checkbox" name="stay-btn" value="stay" class="ip-checkbox">
				</span>
			</div>


		</section>

		<!--간편한 로그인 부분-->
		<section class="easy-login-wrap">

			<div class="easy-login">
				<p>더욱 간편한 로그인</p>
			</div>

			<div class="easy-login-box">
				<div class="qr-login">
					<a href="file:///C:/Users/Jisung/Desktop/project/second_shot/components/login/404.html" target="_blank" title="QR코드 로그인">QR
						코드
						로그인</a>
				</div>

				<div class="onetime-login">
					<a href="file:///C:/Users/Jisung/Desktop/project/second_shot/components/login/404.html"
						target="_blank" title="일회용번호 로그인">일회용 번호 로그인</a>
				</div>
			</div>


		</section>

		<!--class,PW 찾기 및 회원가입 부분-->
		<section class="find-signup-wrap">

			<span class="find-id">
				<a href="file:///C:/Users/Jisung/Desktop/project/second_shot/components/login/404.html" target="_blank"
					title="QR코드 로그인">아이디 찾기</a>
			</span>

			<span class="find-pw">
				<a href="file:///C:/Users/Jisung/Desktop/project/second_shot/components/login/404.html" target="_blank"
					title="일회용번호 로그인">비밀번호 찾기</a>
			</span>

			<span class="sign-up">
				<a href="file:///C:/Users/Jisung/Desktop/project/second_shot/components/login/404.html" target="_blank"
					title="일회용번호 로그인">회원가입</a>
			</span>

		</section>

		<!--저작권 정보-->
		<footer>
			<div class="copyright-wrap">
				<span> Copyright © PYEODA Corp. All Rights Reserved.</span>
			</div>
		</footer>

	</div>

</body>

</html>