<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="IE" content="notranslate" />
  <meta name="msapplication-tap-highlight" content="no">

  <title>펴다 : 이용 약관</title>  

    <link href="./intro-design.css" rel="stylesheet" >
    <link href="./intro-nav.css" rel="stylesheet">
    <link href="./intro-main.css" rel="stylesheet">
    <link href="../../design/font.css" rel="stylesheet">
    <link href="./font-awesome.min.css" rel="stylesheet">
    <link href="./foot-css.css" rel="stylesheet">
    <link rel="icon" href="../../assets/favicon.ico" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.2.0/css/all.min.css" integrity="sha512-6c4nX2tn5KbzeBJo9Ywpa0Gkt+mzCzJBrE1RB6fmpcsoN+b/w/euwIMuQKNyUoU/nToKN3a8SgNOtPrbW12fug==" crossorigin="anonymous" />


    <style> img { display: block; margin: 0px auto; }</style>
</head>

<body>
    <script src="./intro-js.js"></script>
    



<div class="btnclass" style="margin-top: 70px; margin-left: 170px; margin-right: 15px;" >

    <button style="margin-right:15px" type="button" value="버튼" onclick="location.href='file:///C:/Users/Jisung/Desktop/project/second_shot/components/policy/policy.html'" style="font-family: 나눔스퀘어라운드 Regular;">
        이용 약관</button>
        <button style="margin-right:15px" type="button" value="버튼" onclick="location.href='file:///C:/Users/Jisung/Desktop/project/second_shot/components/policy/policy2.html'" style="font-family: 나눔스퀘어라운드 Regular;">
        개인정보 취급방침</button>
        <button style="margin-right:15px" type="button" value="버튼" onclick="location.href='file:///C:/Users/Jisung/Desktop/project/second_shot/components/policy/policy3.html'" style="font-family: 나눔스퀘어라운드 Regular;">
        환불 약관</button>
</div>    

        <div class="background-image-container2 white-text-container" style="height: auto; padding-top: 10px;">
            <div class=jisung_box>
            <div class="container" style="padding-top: 10px;">
            <div class="row">
                <div class="col-xs-12" style="text-align: left;">

                    <h1 style="padding-top:35px;text-align:left; font-size: 30px; color: rgb(206, 92, 17);margin-top: 0px; font-family:'마루 부리 Beta'; padding-bottom: 30px; font-weight: bold;">
                 이용 약관</h1>

                 <p style="font-weight: bold; color: black;"> 제1조 [목 적] </p>
                 <p style="color: black; margin-bottom: 50px;">이 약관은 (펴다(이하 “회사”라 한다)가 제공하는 독서토론 프로그램(이하 “서비스”라 한다)을 이용함에 있어 회사와 이용자 사이의 권리ㆍ의무 및 책임사항을 규정함을 목적으로 합니다. </p>

                 <p style="font-weight: bold; color: black;"> 제2조 [정 의] </p>
                 <p style="color: black; margin-bottom: 50px;">1. “회사”란 재화 또는 용역(이하 “재화 등”이라 함)을 이용자에게 제공하기 위하여 컴퓨터 등 정보통신설비를 이용하여 재화 등을 거래할 수 있도록 설정한 가상의 영업장을 말하며, 아울러 사이버몰을 운영하는 사업자의 의미로도 사용합니다.
<br><br>
                    2. “이용자”란 “사이트”에 접속하여 이 약관에 따라 “회사”가 제공하는 “서비스”를 받는 회원을 말합니다.
    <br><br>                
                    3. "펴다 사이트"(이하 "사이트"라 한다)란 "회사"에 회원등록한 이용자가 다양한 정보와 서비스를 제공받을 수 있도록 "회사"가 제작, 운영하는 인터넷 웹사이트를 의미합니다. </p>     

                 <p style="font-weight: bold; color: black;"> 제3조 [약관 등의 명시와 설명 및 개정] </p>
                 <p style="color: black; margin-bottom: 50px;">1. "회사”는 회사의 상호, 대표자 성명, 주소, 전화번호, 모사전송번호, 전자우편주소, 사업자등록번호, 통신판매업 신고번호 및 개인정보관리책임자 등을 이용자가 쉽게 알 수 있도록 온라인 서비스 초기화면에 게시합니다.
                    <br><br>
2. “회사”은 이용자가 약관에 동의하기에 앞서 약관에 정하여져 있는 내용 중 환불조건 등과 같은 중요한 내용을 이용자가 이해할 수 있도록 별도의 연결화면 또는 팝업화면 등을 제공하여 이용자의 확인을 구하여야 합니다.
<br><br>
3. “회사”는 전자상거래등에서의 소비자보호에관한법률, 약관의규제에관한법률, 전자거래기본법, 전자서명법, 정보통신망이용촉진등에관한법률, 소비자보호법 등 관련법을 위배하지 않는 범위에서 이 약관을 개정할 수 있습니다.
<br><br>
4. “회사”가 약관을 개정할 경우에는 적용일자 및 개정사유를 명시하여 현행약관과 함께 “사이트”의 초기화면에 그 적용일자 7일 이전부터 적용일자 전일까지 공지합니다. 다만, 이용자에게 불리하게 약관내용을 변경하는 경우에는 최소한 30일 이상의 사전 유예기간을 두고 공지합니다. 이 경우 "회사"는 개정 전 내용과 개정 후 내용을 명확하게 비교하여 이용자가 알기 쉽도록 표시합니다.
<br><br>
5. “회사”가 약관을 개정할 경우에는 그 개정약관은 그 적용일자 이후에 체결되는 계약에만 적용되고 그 이전에 이미 체결된 계약에 대해서는 개정 전의 약관조항이 그대로 적용됩니다. 다만 이미 계약을 체결한 이용자가 개정약관 조항의 적용을 받기를 원하는 뜻을 제3항에 의한 개정약관의 공지기간 내에 "회사"에 송신하여 “회사”의 동의를 받은 경우에는 개정약관 조항이 적용됩니다.
<br><br>
6. 이 약관에서 정하지 아니한 사항과 이 약관의 해석에 관하여는 전자상거래등에서의 소비자보호에관한법률, 약관의규제등에관한법률, 공정거래위원회가 정하는 전자상거래등에서의소비자보호지침 및 관계법령 또는 상관례에 따릅니다. </p>
                 


                 <p style="font-weight: bold; color: black;"> 제4조 [서비스의 제공 및 변경] </p>
                 <p style="color: black; margin-bottom: 50px;">1. “회사”는 다음과 같은 서비스를 제공합니다.
                    <br><br>
                    (1) 서비스에 대한 정보 제공 및 구매계약의 체결
                    <br><br>
                    (2) 구매고객에 한해 온라인 컨텐츠 제공
                    <br><br>
                    (3) 구매고객에 한해 의류 물품 및 가공식품 제공
                    <br><br>
                    (4) 구매고객에 한해 운동 및 체육시설 제공
                    
                    2. “회사”는 재화 또는 용역의 품절 또는 기술적 사양의 변경 등의 경우에는 장차 체결되는 계약에 의해 제공할 재화 또는 용역의 내용을 변경할 수 있습니다. 이 경우에는 변경된 재화 또는 용역의 내용 및 제공일자를 명시하여 현재의 재화 또는 용역의 내용을 게시한 곳에 즉시 공지합니다.
                    <br><br>
                    3. “회사”가 제공하기로 이용자와 계약을 체결한 서비스의 내용을 재화 등의 품절 또는 기술적 사양의 변경 등의 사유로 변경할 경우에는 그 사유를 이용자에게 통지 가능한 주소로 즉시 통지합니다.
                    <br><br>
                    4. 전항의 경우 “회사”는 이로 인하여 이용자가 입은 손해를 배상합니다. 다만, “회사”가 고의 또는 과실이 없음을 입증하는 경우에는 그러하지 아니합니다. </p>
                 


                 <p style="font-weight: bold; color: black;"> 제5조 [서비스의 중단] </p>
                 <p style="color: black; margin-bottom: 50px;">1. “회사”는 컴퓨터 등 정보통신설비의 보수점검, 교체 및 고장, 통신의 두절 등의 사유가 발생한 경우에는 서비스의 제공을 일시적으로 중단할 수 있습니다.
                    <br><br>
                    2. “회사”는 제1항의 사유로 서비스의 제공이 일시적으로 중단됨으로 인하여 이용자 또는 제3자가 입은 손해에 대하여 배상합니다. 단, “회사”가 고의 또는 과실이 없음을 입증하는 경우에는 그러하지 아니합니다.
                    <br><br>
                    3. 사업종목의 전환, 사업의 포기, 업체 간의 통합 등의 이유로 서비스를 제공할 수 없게 되는 경우에는 “회사”는 제8조에 정한 방법으로 이용자에게 통지하고 당초 “회사”에서 제시한 조건에 따라 소비자에게 보상합니다. </p>



                 <p style="font-weight: bold; color: black;"> 제6조 [회원가입] </p>
<p style="color: black;">1. 이용자는 “서비스”의 구매를 위해 “회사”가 정한 가입 양식에 따라 회원정보를 기입한 후 이 약관에 동의한다는 의사표시를 하고 결제를 완료함으로써 자동적으로 회원가입이 됩니다.
    <br><br>
    2. “회사”는 제1항과 같이 회원으로 가입할 것을 신청한 이용자 중 다음 각 호에 해당하지 않는 한 회원으로 등록합니다.
    <br><br>
    (1) 가입신청자가 이 약관 제7조 제3항에 의하여 이전에 회원자격을 상실한 적이 있는 경우, 다만 제7조 제3항에 의한 회원자격 상실 후 1년이 경과한 자로서 “회사”의 회원재가입 승낙을 얻은 경우에는 예외로 한다.
    <br><br>
    (2) 등록 내용에 허위, 기재누락, 오기가 있는 경우
    <br><br>
    (3) 기타 회원으로 등록하는 것이 “회사”의 기술상 현저히 지장이 있다고 판단되는 경우
    <br><br>
    3. 회원가입계약의 성립 시기는 “회사”의 승낙이 회원에게 도달한 시점으로 합니다.
     </p>



                 <p style="font-weight: bold; color: black;"> 제7조 [회원 탈퇴 및 자격 상실 등] </p>
                 <p style="color: black; margin-bottom: 50px;">1. 회원이 다음 각 호의 사유에 해당하는 경우, “회사”는 회원자격을 제한 및 정지시킬 수 있습니다.
                    <br><br>
                    (1) 가입 신청 시에 허위 내용을 등록한 경우
                    <br><br>
                    (2) “회사”을 이용하여 구입한 재화 등의 대금, 기타 “회사”가용에 관련하여 회원이 부담하는 채무를 기일에 지급하지 않는 경우
                    <br><br>
                    (3) 다른 사람의 “회사” 이용을 방해하거나 그 정보를 도용하는 등 전자상거래 질서를 위협하는 경우
                    <br><br>
                    (4) “회사”을 이용하여 법령 또는 이 약관이 금지하거나 공서양속에 반하는 행위를 하는 경우
                    <br><br>
                    2. “회사”가 회원 자격을 제한․정지 시킨 후, 동일한 행위가 3회 이상 반복되거나 15일 이내에 그 사유가 시정되지 아니하는 경우 “회사”는 회원자격을 상실시킬 수 있습니다.
                    <br><br>
                    3. “회사”가 회원자격을 상실시키는 경우에는 회원등록을 말소합니다. 이 경우 회원에게 이를 통지하고, 회원등록 말소 전에 최소한 30일 이상의 기간을 정하여 소명할 기회를 부여합니다. </p>



                 <p style="font-weight: bold; color: black;"> 제8조 [회원에 대한 통지] </p>
<p style="color: black; margin-bottom: 50px;">1. “회사”가 회원에 대한 통지를 하는 경우, 회원이 “회사”와 미리 약정하여 지정한 전자우편 주소로 할 수 있습니다.
    <br><br>
    2. “회사”는 불특정다수 회원에 대한 통지의 경우 1주일이상 “회사” 게시판에 게시함으로서 개별 통지에 갈음할 수 있습니다. 다만, 회원 본인의 거래와 관련하여 중대한 영향을 미치는 사항에 대하여는 개별통지를 합니다.
     </p>



                 <p style="font-weight: bold; color: black;"> 제9조 [서비스 이용계약의 성립 및 결제방법 등] </p>
                 <p style="color: black; margin-bottom: 50px;">1. 회원은 회사가 제공하는 다음 각 호 또는 이와 유사한 절차에 의하여 서비스 이용을 신청을 합니다. 회사는 계약 체결 전, 다음 각호 의 사항에 관하여 회원이 정확하게 이해하고 실수 또는 착오 없이 거래할 수 있도록 정보를 제공합니다.
                    <br><br>
                    (1) 콘텐츠 목록의 열람 및 선택
                    <br><br>
                    (2) 콘텐츠 상세정보 확인
                    <br><br>
                    (3) 결제하기 클릭
                    <br><br>
                    (4) 주문상품 및 결제금액 확인(환불규정 안내)
                    <br><br>
                    (5) 성명, 주소, 연락처 등 개인정보 입력
                    <br><br>
                    (6) 결제수단 선택
                    <br><br>
                    (7) 결제금액 재확인
                    <br><br>
                    (8) 결제
                    <br><br>
                    2. 회원은 신용카드, 무통장입금, 인터넷 계좌이체, 휴대폰 결제 등 회사에서 정하고 있는 방법으로 유료서비스의 결제가 가능합니다. 다만, 각 결제수단마다 결제수단의 특성에 따른 일정한 제한이 있을 수 있습니다.
                    <br><br>
                    3. 회사는 회원의 유료서비스 이용신청이 다음 각 호에 해당하는 경우에는 승낙하지 않거나, 그 사유가 해소될 때까지 승낙을 유보할 수 있습니다.
                    <br><br>
                    (1) 유료 서비스의 이용요금을 납입하지 않는 경우
                    <br><br>
                    (2) 유료 서비스 신청금액 총액과 입금총액이 일치하지 않은 경우
                    <br><br>
                    (3) 기타 합리적인 이유가 있는 경우로서 회사가 필요하다고 인정되는 경우
                    <br><br>
                    (4) 만 14세 미만의 아동이 이용신청을 하는 경우
                    <br><br>
                    4. 회사는 회원이 본조 위 조항의 절차에 따라 유료서비스 이용을 신청할 경우, 승낙의 의사표시로써 본 약관 제8조의 방법을 통하여 회원에게 통지하고, 승낙의 통지가 회원에게 도달한 시점에 계약이 성립한 것으로 봅니다.
                    <br><br>
                    5. 회사의 승낙의 의사표시에는 회원의 이용신청에 대한 확인 및 서비스제공 가능여부, 이용신청의 정정, 취소 등에 관한 정보 등을 포함합니다. </p>



                 <p style="font-weight: bold; color: black;"> 제10조 [개인정보보호] </p>
<p style="color: black; margin-bottom: 50px;">1. “회사”는 이용자의 정보수집 시 구매계약 이행에 필요한 최소한의 정보를 수집합니다. 다음 사항을 필수사항으로 하며 그 외 사항은 선택사항으로 합니다.
    <br><br>
    (1) 이용자의 식별을 위한 내용: 이름, 전화번호
    <br><br>
    (2) 계약이행의 연락 및 안내 등의 고지를 위한 내용: 이메일주소
    <br><br>
    2. “회사”가 이용자의 개인식별이 가능한 개인정보를 수집하는 때에는 반드시 당해 이용자의 동의를 받습니다.
    <br><br>
    3. 제공된 개인정보는 당해 이용자의 동의 없이 목적 외의 이용이나 제3자에게 제공할 수 없으며, 이에 대한 모든 책임은 “회사”가 집니다. 다만, 다음의 경우에는 예외로 합니다.
    <br><br>
    (1) 배송업무상 배송업체에게 배송에 필요한 최소한의 이용자의 정보(성명, 주소, 전화번호)를 알려주는 경우
    <br><br>
    (2) 통계작성, 학술연구 또는 시장조사를 위하여 필요한 경우로서 특정 개인을 식별할 수 없는 형태로 제공하는 경우
    <br><br>
    (3) 재화 등의 거래에 따른 대금정산을 위하여 필요한 경우
    <br><br>
    (4) 도용방지를 위하여 본인확인에 필요한 경우
    <br><br>
    (5) 법률의 규정 또는 법률에 의하여 필요한 불가피한 사유가 있는 경우
    <br><br>
    4. “회사”가 제2항과 제3항에 의해 이용자의 동의를 받아야 하는 경우에는 개인정보관리 책임자의 신원(소속, 성명 및 전화번호, 기타 연락처), 정보의 수집목적 및 이용목적, 제3자에 대한 정보제공 관련사항(제공받은자, 제공목적 및 제공할 정보의 내용) 등 정보통신망이용촉진등에관한법률 제22조제2항이 규정한 사항을 미리 명시하거나 고지해야 하며 이용자는 언제든지 이 동의를 철회할 수 있습니다.
    <br><br>
    5. 이용자는 언제든지 “회사”가 가지고 있는 자신의 개인정보에 대해 열람 및 오류정정을 요구할 수 있으며 “회사”는 이에 대해 지체 없이 필요한 조치를 취할 의무를 집니다. 이용자가 오류의 정정을 요구한 경우에는 “회사”는 그 오류를 정정할 때까지 당해 개인정보를 이용하지 않습니다.
    <br><br>
    6. “회사”는 개인정보 보호를 위하여 관리자를 한정하여 그 수를 최소화하며 신용카드, 은행계좌 등을 포함한 이용자의 개인정보의 분실, 도난, 유출, 변조 등으로 인한 이용자의 손해에 대하여 모든 책임을 집니다.
    <br><br>
    7. “회사” 또는 그로부터 개인정보를 제공받은 제3자는 개인정보의 수집목적 또는 제공받은 목적을 달성한 때에는 당해 개인정보를 지체없이 파기합니다. </p>



                 <p style="font-weight: bold; color: black;"> 제11조 [회사의 의무] </p>
                 <p style="color: black; margin-bottom: 50px;">1. “회사”는 법령과 이 약관이 금지하거나 공서양속에 반하는 행위를 하지 않으며 이 약관이 정하는 바에 따라 지속적이고, 안정적으로 재화ㆍ용역을 제공하는데 최선을 다하여야 합니다.
                    <br><br>
                    2. “회사”는 이용자가 안전하게 인터넷 서비스를 이용할 수 있도록 이용자의 개인정보(신용정보 포함)보호를 위한 보안 시스템을 갖추어야 합니다.
                    <br><br>
                    3. “회사”가 상품이나 용역에 대하여 「표시ㆍ광고의공정화에관한법률」 제3조 소정의 부당한 표시ㆍ광고행위를 함으로써 이용자가 손해를 입은 때에는 이를 배상할 책임을 집니다.
                    <br><br>
                    4. “회사”는 이용자가 원하지 않는 경우 영리목적의 광고성 전자우편을 발송하지 않습니다.
                    <br><br>
                    5. 사업자는 이용자가 용이하게 볼 수 있는 장소에 다음 사항을 게시하여야 합니다.
                    <br><br>
                    (1) 시간별 프로그램 내용 및 정원
                    <br><br>
                    (2) 지도강사의 인적사항
                    <br><br>
                    (3) 강습의 변경
                    <br><br>
                    (4) 이용료
                    <br><br>
                    (5) 약관내용
                    <br><br>
                    (6) 소지품 보관시 유의 사항 등
                    <br><br>
                    (7) 이용자 안전수칙 등 기타 필요사항
                    <br><br>
                    6. 사업자는 이용자가 체력단련장 시설 및 기구를 안전하게 이용할 수 있도록 이용방법 및 주의사항 설명 등 선량한 관리자로서 의무를 다하여야 합니다.</p>



                 <p style="font-weight: bold; color: black;"> 제12조 [이용자의 의무] </p>
<p style="color: black; margin-bottom: 50px;">이용자는 다음 각 호 행위를 하여서는 안됩니다.
    <br><br>
    (1) 신청 또는 변경시 허위 내용의 등록
    <br><br>
    (2) 타인의 정보 도용
    <br><br>
    (3) “회사”에 게시된 정보의 변경
    <br><br>
    (4) “회사”가 정한 정보 이외의 정보(컴퓨터 프로그램 등) 등의 송신 또는 게시
    <br><br>
    (5) “회사” 기타 제3자의 저작권 등 지적재산권에 대한 침해
    <br><br>
    (6) “회사” 기타 제3자의 명예를 손상시키거나 업무를 방해하는 행위 </p>



                 <p style="font-weight: bold; color: black;"> 제13조 [저작권의 귀속 및 이용제한] </p>
                 <p style="color: black; margin-bottom: 50px;">1. “회사”가 작성한 저작물에 대한 저작권 기타 지적재산권은 “회사”에 귀속합니다.
                    <br><br>
                    2. 이용자는 “회사”를 이용함으로써 얻은 정보 중 “회사”에게 지적재산권이 귀속된 정보를 “회사”의 사전 승낙없이 복제, 송신, 출판, 배포, 방송 기타 방법에 의하여 영리목적으로 이용하거나 제3자에게 이용하게 하여서는 안됩니다.
                    <br><br>
                    3. “회사”는 약정에 따라 이용자에게 귀속된 저작권을 사용하는 경우 당해 이용자에게 통보하여야 합니다. </p>



                 <p style="font-weight: bold; color: black;"> 제14조 [회사의 환불규정] </p>
<p style="color: black; margin-bottom: 50px;">1. “회사”는 부득이한 사정으로 유료서비스를 지속할 수 없을 경우, 이용자가 잔여 이용요금을 요구할 경우, 이용자가 지정하는 계좌로 환불합니다. 단, 잔여이용료 환불 시 이는 “회사”가 규정한 환불 정책에 따릅니다.
    <br><br>
    2. 요금 선납 이용자가 유료서비스 이용신청을 취소하고자 하는 경우에는 취소 사유를 명기하여 본인이 직접 “회사”로 전화나 전자우편을 통하여 취소 신청할 수 있습니다. 결제과정에서 발생한 수수료는 이용자가 전액 부담합니다.
    <br><br>
    3. 이용자는 다음 각 호의 사유가 있을 경우 계약을 해제․해지할 수 있습니다.
    <br><br>
    (1) 서비스 시설 이용 및 강습 등에 관한 계약내용 또는 광고내용이 실제와 다른 경우
    <br><br>
    (2) 체력단련기기 및 시설의 고장으로 정상적인 이용이 곤란한 경우
    <br><br>
    (3) 이전․휴업․폐업․정원초과 등으로 서비스 이용이 곤란한 경우
    <br><br>
    (4) 기타 사업자의 책임 있는 사유로 서비스 이용이 곤란한 경우
    <br><br>
    4. 계약을 해제․해지하는 경우 사업자와 이용자는 다음과 같은 조건으로 계약을 해제․해지할 수 있습니다.<이용개시일 이전 계약 해제,해지>
    <br><br>
    (1) 제3항 각 호의 사유로 인하여 이용자가 계약을 해제․해지하는 경우 사업자는 총 이용금액(‘매 이용 계약시 이용료로 납입한 총액’으로 이하 같음) 전액
    <br><br>
    (2) 이용자 사정으로 계약을 해제․해지하는 경우 사업자는 환불 약관 기준으로 환불 금액 산정<이용개시일 이후 계약 해제,해지>
    <br><br>
    (1) 제3항 각 호의 사유로 이용자가 계약을 해제․해지하는 경우 사업자는 총 이용금액에서 해지일까지 이용금액을 일할 계산하여 공제하고 난 후의 금액
    <br><br>
    (2) 이용자 사정으로 계약을 해제․해지하는 경우 사업자는 환불 약관 기준으로 환불 금액 산정
    <br><br>
    5. 계약의 해제․해지에도 불구하고 사업자가 제공한 사은품은 반환 또는 환불하지 않습니다.
    <br><br>
    6. “회사”는 이용자로부터 해제 또는 해지 통보를 받은 경우 3영업일 이내에 “서비스”에 대한 대금을 환급합니다.
    <br><br>
    7. “회사”는 이용대금의 결제와 동일한 방법으로 결제 대금을 환불해야하며 동일한 방법으로 환불이 불가능할 때에는 이를 사전에 고지하여야 합니다.
    <br><br>
    8. 이용자가 본 회사의 서비스 이용을 할부계약으로 신청한 경우 신청일로부터 7일 이내 서면으로, 방문사원 권유로 신청한 경우에는 신청일로부터 14일 이내에 이용신청을 철회할 수 있습니다. 단 신청일에 계약서(또는 약관)을 교부받지 못한 경우 이용 개시일을 기준으로 합니다.
    <br><br>
    9. 제6항의 경우 사업자는 ‘할부거래에관한법률’ 제6조, ‘방문판매등에관한법률’ 제9조에 따른 원상회복의 의무를 집니다.
    <br><br>
    10. “회사”의 본 약관상 환불규정 등은 “약관의 규제에 관한 법률”, “온라인 디지털콘텐츠산업 발전법”, “전자상거래 등에서의 소비자보호에 관한 법률” 등을 반영하였습니다. </p>



                 <p style="font-weight: bold; color: black;"> 제15조 [면책조항] </p>
                 <p style="color: black; margin-bottom: 50px;">1. 회사는 천재지변 또는 이에 준하는 불가항력으로 인하여 서비스를 제공할 수 없는 경우에는 서비스 제공에 관한 책임이 면제됩니다.
                    <br><br>
                    2. 회사는 회원의 귀책사유로 인하여 발생한 서비스 이용의 장애에 대하여는 책임을 지지 않습니다.
                    <br><br>
                    3. 회사는 회원이 서비스와 관련하여 게재한 정보, 자료, 사실의 신뢰도, 정확성 등의 내용에 관하여는 책임을 지지 않습니다.
                    <br><br>
                    4. 회사는 이용자 상호간 또는 이용자와 제3자 간에 콘텐츠를 매개로 하여 발생한 분쟁 등에 대하여 책임을 지지 않습니다.
                    <br><br>
                    5. “서비스”는 건강을 위한 식이/운동 프로그램 및 식단을 제공하나, 의료 서비스는 아닙니다. 전문적인 의학 진단이나 처방을 대체할 수 없으며, 건강 상태에 있어서 조금이라도 우려되는 부분이 있다면 “서비스”를 이용하기 전에 반드시 의사와의 상담이 필요합니다. 회사는 건강에 문제가 있음에도 의사와의 상담 없이“서비스”를 이용할 경우 발생하는 상해에 대하여 책임을 지지 않습니다. </p>



                 <p style="font-weight: bold; color: black;"> 제16조 [소지품의 보관] </p>
<p style="color: black; margin-bottom:50px;">
    2. 제1항에 의해 보관한 소지품이 멸실 또는 훼손된 경우 사업자는 불가항력으로 인한 것임을 입증하지 못하면 그 손해를 배상하여야 합니다.
    <br><br>
    3. 이용자가 보관을 의뢰하지 않은 소지품도 사업자측의 책임있는 사유로 멸실 또는 훼손된 경우 사업자는 그 손해를 배상하여야 합니다.
    <br><br>
    4. 이용자는 휴대품이 화폐, 유가증권 기타 고가물인 경우 그 종류와 가액을 명시하여 사업자에게 보관을 의뢰하여야 합니다. 사업자는 이용자의 요구에 응하여 해당 물품을 안전하게 보관하여야 합니다.
    <br><br>
    5. 제5항에 의해 이용자가 보관을 의뢰하지 않은 고가물이 멸실 또는 훼손된 경우 사업자는 제4항에 의거 손해배상 책임을 집니다.
    <br><br>
    6. 기타 이용자의 소지품 보관에 관한 사항은 상법 제151조 이하의 규정에 의합니다. </p>

                 <p style="font-weight: bold; color: black;"> 제17조 [분쟁해결] </p>
                 <p style="color: black; margin-bottom: 50px;">1. “회사”는 이용자가 제기하는 정당한 의견이나 불만을 반영하고 그 피해를 보상처리하기 위하여 피해보상처리기구를 설치ㆍ운영합니다.
                    <br><br>
                    2. “회사”는 이용자로부터 제출되는 불만사항 및 의견은 우선적으로 그 사항을 처리합니다. 다만, 신속한 처리가 곤란한 경우에는 이용자에게 그 사유와 처리일정을 즉시 통보해 드립니다.
                    <br><br>
                    3. “회사”와 이용자간에 발생한 전자상거래 분쟁과 관련하여 이용자의 피해구제신청이 있는 경우에는 공정거래위원회 또는 시·도지사가 의뢰하는 분쟁조정기관의 조정에 따를 수 있습니다.
                     </p>

                 <p style="font-weight: bold; color: black;"> 제18조 [재판권 및 준거법] </p>
                 <p style="color: black; margin-bottom: 50px;">1. “회사”와 이용자 간에 발생한 전자상거래 분쟁에 관한 소송은 제소 당시의 이용자의 주소에 의하고, 주소가 없는 경우에는 거소를 관할하는 지방법원의 전속관할로 합니다. 다만, 제소 당시 이용자의 주소 또는 거소가 분명하지 않거나 외국 거주자의 경우에는 민사소송법상의 관할법원에 제기합니다.
                    <br><br>
                    2. “회사”와 이용자 간에 제기된 전자상거래 소송에는 국내법을 적용합니다.
                     </p>

                 <p style="font-weight: bold; color: black;"> 제18조 [부 칙] </p>
                 <p style="color: black; margin-bottom: 50px;">이 약관은 2021년 8월 27일부터 시행합니다.
                    <br><br>
14조 4. 이용개시일 이전 환불 중 (2)항에서 10%로 명시된 환불 차감 액이 환불약관에 따름으로 변경되었습니다.
<br><br>
변경된 약관은 2021년 12월 31일부터 시행합니다. </p>
                </div>
        </div>
        </div>
    </div>
</div>
</body>

<footer class="w-full px-0 sm:px-12 bg-blue-900 text-blue-400 font-light md:font-normal text-sm md:text-sm"
style="padding-left: 48px; padding-right: 48px; padding-bottom: 0px; height: 420px; background-color: rgb(255, 162, 41);">
  <div class="container mx-auto block md:grid grid-rows-1 grid-cols-5 px-5 pt-8 pb-16 md:px-0 md:pt-20 md:pb-20" style="padding-top: 90px; padding-bottom: 0px;">

    <div class="col-start-3 row-start-1 row-span-1 col-span-3 flex flex-col md:flex-row md:pl-8">


      <div class="flex-1 mt-6 md:mt-0">
        <p class="md-mb-6" style= "font-family: S-CoreDream-3Light;">바로가기</p>
        <ul class="text-white">

          <li class="mt-2 md:mt-4 inline-block mr-6 md:block md:mr-0" style="margin-bottom: 19px;">
            <a href="file:///C:/Users/Jisung/Desktop/project/second_shot/components/introduce/intro.html" class="no-underline hover:font-bold"
            style="font-size: 15px; font-family: S-CoreDream-3Light;" >펴다소개</a>
          </li>
          <li class="mt-2 md:mt-4 inline-block mr-6 md:block md:mr-0" style="margin-bottom: 19px;">
            <a href="file:///C:/Users/Jisung/Desktop/project/second_shot/components/book./book.html" class="no-underline hover:font-bold"
            style="font-size: 15px; font-family: S-CoreDream-3Light;">독서모임</a>
          </li>
          <li class="mt-2 md:mt-4 inline-block mr-6 md:block md:mr-0" style="margin-bottom: 19px;">
            <a href="file:///C:/Users/Jisung/Desktop/project/second_shot/components/talk./talk.html" class="no-underline hover:font-bold"
            style="font-size: 15px; font-family: S-CoreDream-3Light;">토크콘서트</a>
          </li>
          <li class="mt-2 md:mt-4 inline-block mr-6 md:block md:mr-0">
            <a href="file:///C:/Users/Jisung/Desktop/project/second_shot/components/club./club.html" class="no-underline hover:font-bold"
            style="font-size: 15px; font-family: S-CoreDream-3Light;">클럽활동</a>
          </li>
        </ul>
      </div>
      <div class="flex-1 mt-6 md:mt-0 md:pr-6">
        <p class="md-mb-6" style= "font-family: S-CoreDream-3Light;">약관 및 정책</p>
        <ul class="text-white">
          <li class="mt-2 md:mt-4 inline-block mr-6 md:block md:mr-0" style="margin-bottom: 19px;">
            <a href="file:///C:/Users/Jisung/Desktop/project/second_shot/components/policy/policy.html" class="no-underline hover:font-bold" style="font-size: 15px; font-family: S-CoreDream-3Light;">이용약관</a>
          </li>
          <li class="mt-2 md:mt-4 inline-block mr-6 md:block md:mr-0" style="margin-bottom: 19px;">
            <a href="file:///C:/Users/Jisung/Desktop/project/second_shot/components/policy/policy2.html" class="no-underline hover:font-bold" style="font-size: 15px; font-family: S-CoreDream-3Light;">개인정보처리방침</a>
          </li>
          <li class="mt-2 md:mt-4 inline-block mr-6 md:block md:mr-0">
            <a href="file:///C:/Users/Jisung/Desktop/project/second_shot/components/policy/policy3.html" class="no-underline hover:font-bold" style="font-size: 15px; font-family: S-CoreDream-3Light;">환불약관</a>
          </li>
        </ul>
      </div>
      <div class="flex-1 mt-6 md:mt-0 md:pr-6 block md:hidden">
        <p class="md-mb-6" style= "font-family: S-CoreDream-3Light;">고객센터</p>
        <div class="mt-1">
          <div class="flex items-center">
            <span class="fas fa-phone-alt mr-2"></span><a href="tel:+82221352556" class="text-white">02-2135-2556</a>
          </div>
          <div class="flex items-center mt-1">
            <span class="fas fa-envelope mr-2"></span><a href="mailto:support@sleekproject.com" class="text-white">support@sleekproject.com</a>
          </div>
          <div class="mt-1">
            <span class="inline-block w-16">평일</span><span>오전10시 ~ 오후7시</span>
          </div>
          <div class="mt-1">
            <span class="inline-block w-16">점심시간</span><span>오후12시 ~ 오후2시</span>
          </div>
        </div>
      </div>
      <div class="flex-1 mt-6 md:mt-0 md:pr-6">
        <p class="md-mb-6" style= "font-family: S-CoreDream-3Light;">회사</p>
        <ul class="text-white">
          <li class="mt-2 md:mt-4 inline-block mr-6 md:block md:mr-0" style="margin-bottom: 19px;">
            <a target="_blank" href="file:///C:/Users/Jisung/Desktop/project/second_shot/components/login/404.html" class="no-underline hover:font-bold" style="font-size: 15px; font-family: S-CoreDream-3Light;">펴다</a>
          </li>
          <li class="mt-2 md:mt-4 inline-block mr-6 md:block md:mr-0" style="margin-bottom: 19px;">
            <a target="_blank" href="file:///C:/Users/Jisung/Desktop/project/second_shot/components/login/404.html" class="no-underline hover:font-bold" style="font-size: 15px; font-family: S-CoreDream-3Light;">채용정보</a>
          </li>
          <li class="mt-2 md:mt-4 inline-block mr-6 md:block md:mr-0">
            <a target="_blank" href="file:///C:/Users/Jisung/Desktop/project/second_shot/components/login/404.html" class="no-underline hover:font-bold" style="font-size: 15px; font-family: S-CoreDream-3Light;">연락하기</a>
          </li>
        </ul>
      </div>
      <div class="flex-1 mt-6 md:mt-0">

        <p class="md-mb-6" style=" font-family: S-CoreDream-3Light;">SNS</p>
        <ul class="" style="color: white; font-size: 22px;">

          <li>
            <a href="https://www.instagram.com/jigung2" class="no-underline"><i class="fab fa-instagram"></i></a>
          </li>
          <li style="margin-top: 20px;">
            <a href="https://www.facebook.com/profile.php?id=100005078139453" class="no-underline"><i class="fab fa-facebook"></i></a>
          </li>

        </ul>
      </div>
    </div>

    <div class="col-start-1 row-start-1 row-span-1 col-span-2 flex flex-col justify-start pt-12 md:pt-0">

      <a class="no-underline hover:no-underline" href="../../home.html" style="font-size: 43px; color: white; font-family:ChosunKm ;">
        PYEODA
      </a>
      <p class="leading-loose mt-4 md:mt-8" style="margin-top: 50px; line-height: 30px; color: rgb(255, 255, 255); font-family: S-CoreDream-3Light; font-size: 13.5px;">
        (주)펴다 대표 정지성
        <br>
        사업자등록번호 613-82-120730
        <br>
        통신판매번호 2021-전남순천-0157
        <br>
        전라남도 순천시 연향동 1492-2 태흥전산 건물 3F
        <br>
            <a href="tel:+82106327467" class="text-white">TEL : 010-6327-4657</a>　       
            <a href="mailto:support@pyeoda.com" class="text-white">E-mail : support@pyedoa.com</a>
        <br>
        고객센터: 평일 오전9시 ~ 오후5시 (점심시간 오후12시 ~ 오후1시)

        </div>


        </span>
      </p>
  </div>
</footer>
