<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="IE" content="notranslate" />
  <meta name="msapplication-tap-highlight" content="no">

  <title>펴다 : 이용 약관</title>  

    <link href="./intro-design.css" rel="stylesheet" >
    <link href="./intro-nav.css" rel="stylesheet">
    <link href="./intro-main.css" rel="stylesheet">
    <link href="../../design/font.css" rel="stylesheet">
    <link href="./font-awesome.min.css" rel="stylesheet">
    <link href="./foot-css.css" rel="stylesheet">
    <link rel="icon" href="../../assets/favicon.ico" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.2.0/css/all.min.css" integrity="sha512-6c4nX2tn5KbzeBJo9Ywpa0Gkt+mzCzJBrE1RB6fmpcsoN+b/w/euwIMuQKNyUoU/nToKN3a8SgNOtPrbW12fug==" crossorigin="anonymous" />


    <style> img { display: block; margin: 0px auto; }</style>
</head>

<body>
    <script src="./intro-js.js"></script>
    



<div class="btnclass" style="margin-top: 70px; margin-left: 170px;" >

    <button style="margin-right:15px" type="button" value="버튼" onclick="location.href='file:///C:/Users/Jisung/Desktop/project/second_shot/components/policy/policy.html'" style="font-family: 나눔스퀘어라운드 Regular;">
    이용 약관</button>
    <button style="margin-right:15px" type="button" value="버튼" onclick="location.href='file:///C:/Users/Jisung/Desktop/project/second_shot/components/policy/policy2.html'" style="font-family: 나눔스퀘어라운드 Regular;">
    개인정보 취급방침</button>
    <button style="margin-right:15px" type="button" value="버튼" onclick="location.href='file:///C:/Users/Jisung/Desktop/project/second_shot/components/policy/policy3.html'" style="font-family: 나눔스퀘어라운드 Regular;">
    환불 약관</button>
</div>    

<div class="container mx-auto pt-8 pb-16 px-8 md:px-0">
  <div class="col-xs-12" style="text-align: left;">

    <h1 style="padding-top:35px;text-align:left; font-size: 30px; color: rgb(206, 92, 17);margin-top: 0px; font-family:'마루 부리 Beta'; padding-bottom: 30px; font-weight: bold;">
 이용 약관</h1>


</div>
  <div>
    <p class="mt-8">펴다 환불 약관은 프로그램 기간에 따라 다르게 적용됩니다.</p>

    <p class="mt-8">펴다 4주 과정 프로그램의 환불 규정은 다음과 같습니다. </p>

    <p class="mt-8 font-bold">[주 1회 스케줄]</p>
    <table class="table border-collapse border border-gray-200 mt-4">
      <tbody>
        <tr>
          <td class="border p-2 font-bold">환불 기간</td>
          <td class="border p-2 font-bold">환불 내용</td>
        </tr>
        <tr>
          <td class="border p-2">1회차 수업 7일 전</td>
          <td class="border p-2">전액환불</td>
        </tr>
        <tr>
          <td class="border p-2">1회차 수업 6일 전 ~ 1회차 수업 1일 전</td>
          <td class="border p-2">납부 수강료의 80% 환불</td>
        </tr>
        <tr>
          <td class="border p-2">1회차 수업 당일 ~ 2회차 수업 1일 전</td>
          <td class="border p-2">납부 수강료의 50% 환불</td>
        </tr>
        <tr>
          <td class="border p-2">2회차 수업 당일 ~ 기수 종료</td>
          <td class="border p-2">환불 불가</td>
        </tr>
      </tbody>
    </table>

    <p class="mt-8 font-bold">[주 2회 스케줄]</p>
    <table class="table border-collapse border border-gray-200 mt-4">
      <tbody>
        <tr>
          <td class="border p-2 font-bold">환불 기간</td>
          <td class="border p-2 font-bold">환불 내용</td>
        </tr>
        <tr>
          <td class="border p-2">1회차 수업 7일 전</td>
          <td class="border p-2">전액환불</td>
        </tr>
        <tr>
          <td class="border p-2">1회차 수업 6일 전 ~ 1회차 수업 1일 전</td>
          <td class="border p-2">납부 수강료의 80% 환불</td>
        </tr>
        <tr>
          <td class="border p-2">1회차 수업 당일 ~ 3회차 수업 1일 전</td>
          <td class="border p-2">납부 수강료의 50% 환불</td>
        </tr>
        <tr>
          <td class="border p-2">3회차 수업 당일 ~ 기수 종료</td>
          <td class="border p-2">환불 불가</td>
        </tr>
      </tbody>
    </table>

    <p class="mt-8">펴다 7주 독서토런 프로그램의 환불 규정은 별도의 환불규정에 따라서 진행됩니다.</p>

    <p class="mt-8 font-bold">[주 1회 스케줄]</p>
    <table class="table border-collapse border border-gray-200 mt-4">
      <tbody>
        <tr>
          <td class="border p-2 font-bold">환불 기간</td>
          <td class="border p-2 font-bold">환불 내용</td>
        </tr>
        <tr>
          <td class="border p-2">1회차 수업 7일 전</td>
          <td class="border p-2">전액환불</td>
        </tr>
        <tr>
          <td class="border p-2">1회차 수업 6일 전 ~ 1회차 수업 1일 전</td>
          <td class="border p-2">납부 수강료의 80% 환불</td>
        </tr>
        <tr>
          <td class="border p-2">1회차 수업 당일 ~ 2회차 수업 1일 전</td>
          <td class="border p-2">납부 수강료의 50% 환불</td>
        </tr>
        <tr>
          <td class="border p-2">2회차 수업 당일 ~ 3회차 수업 1일 전</td>
          <td class="border p-2">납부 수강료의 30% 환불</td>
        </tr>
        <tr>
          <td class="border p-2">3회차 수업 당일 ~ 기수 종료</td>
          <td class="border p-2">환불 불가</td>
        </tr>
      </tbody>
    </table>

    <p class="mt-8 font-bold">[주 2회 스케줄]</p>
    <table class="table border-collapse border border-gray-200 mt-4">
      <tbody>
        <tr>
          <td class="border p-2 font-bold">환불 기간</td>
          <td class="border p-2 font-bold">환불 내용</td>
        </tr>
        <tr>
          <td class="border p-2">1회차 수업 7일 전</td>
          <td class="border p-2">전액환불</td>
        </tr>
        <tr>
          <td class="border p-2">1회차 수업 6일 전 ~ 1회차 수업 1일 전</td>
          <td class="border p-2">납부 수강료의 80% 환불</td>
        </tr>
        <tr>
          <td class="border p-2">1회차 수업 당일 ~ 3회차 수업 1일 전</td>
          <td class="border p-2">납부 수강료의 50% 환불</td>
        </tr>
        <tr>
          <td class="border p-2">3회차 수업 당일 ~ 5회차 수업 1일 전</td>
          <td class="border p-2">납부 수강료의 30% 환불</td>
        </tr>
        <tr>
          <td class="border p-2">5회차 수업 당일 ~ 기수 종료</td>
          <td class="border p-2">환불 불가</td>
        </tr>
      </tbody>
    </table>

    <div class="leading-loose mt-8">
      <p><strong>* 참고</strong></p>
      <p>- 환불 금액은 실제 납부금액 기준으로 산정됩니다.</p>
      <p>- 환불접수 및 금액산정은 수업 수강 여부과 관계없이 공식 고객센터에 접수된 건에 한해 처리 가능합니다.</p>
      <p>- 카카오톡 문의로 환불 접수 시 공식 고객센터 운영시간 기준으로 적용됩니다.</p>
      <p>- 공식 고객센터 운영시간은 평일(월~금) 오전 10시~오후 7시입니다. (점심시간 오후12시~오후2시 / 주말 및 공휴일 휴무)</p>
      <p>- 주말 및 공휴일 취소 시 익영업일에 취소한 것으로 인정됩니다.</p>
      <p>- 공식 고객센터 이외에 접수된 환불 요청 건의 경우 접수 및 처리가 진행되지 않습니다.</p>
      <p>- 결제 후 당일 취소 시 환불 수수료 없이 전액 환불됩니다.</p>
      <p>- 수강 확정 전 이미 할인 받은 금액은 환불 금액에서 제외됩니다.</p>
      <p>- 사업자 귀책사유로 인한 계약 해제 및 해지 시 수강한 기간을 일할 계산하여 제한 금액을 환불합니다.</p>
      <p>- 천재지변으로 인한 계약 해제 및 해지 시 수강한 기간을 일할 계산하여 제한 금액을 환불합니다.</p>
      <p>- 지원자의 요청시 아래 내용에 의거해 지원내용의 이관이 가능합니다.</p>
      <p>- 1회차 수업 시작 전 1회에 한정하여 기수 이관이 가능합니다.</p>
      <p>- 이관시 추후 지원비 환불이 불가합니다.</p>
      <p>- 1회차 수업이 시작된 후에는 기수 이관이 불가합니다.</p>
      <p>- 이관은 지원한 기수의 다음 기수로만 가능합니다.</p>
      <p>- 납부 수강료는 [결제금 - 환급을 포함한 모든 할인금]을 기준으로 합니다.</p>
      <p>- 위 약관은 2019년 3월 14일 00시부터 적용됩니다. (수업전 2~1일 차감 신설)</p>
      <p>- 추가된 약관은 2019년 5월 22일 00시부터 적용됩니다. (평일반 환불규정 추가)</p>
      <p>- 수정된 약관은 2019년 7월 8일부터 적용됩니다. (환불금액 기준 변경 : 정규수강료->실납부금액)</p>
      <p>- 추가 및 수정된 약관은 2019년 12월 3일 00시부터 적용됩니다. (첫 수업 시작 11일 전 차감 신설, 퍼센테이지를 차감 퍼센테이지에서 환불 퍼센테이지로 변경)</p>
      <p>- 추가 및 수정된 약관은 2020년 3월 16일 00시부터 적용됩니다. (프로그램 스케줄 4주로 변경, 환불 회차별 범위 변경, 수업 회차별 환불규정 신설, 환불 처리 반영시간 변경, 환불금액 산정 시점 변경, 환불 접수 창구 내용 신설, 천재지변에 의한 환불 처리 추가, 이관 정책 추가)</p>
      <p>- 추가 및 수정된 약관은 2021년 2월 19일 00시부터 적용됩니다.(7주 프로그램 환불정책 추가)</p>
    </div>
  </div>
</div>

</div>

</body>

<footer class="w-full px-0 sm:px-12 bg-blue-900 text-blue-400 font-light md:font-normal text-sm md:text-sm"
style="padding-left: 48px; padding-right: 48px; padding-bottom: 0px; height: 420px; background-color: rgb(255, 162, 41);">
  <div class="container mx-auto block md:grid grid-rows-1 grid-cols-5 px-5 pt-8 pb-16 md:px-0 md:pt-20 md:pb-20" style="padding-top: 90px; padding-bottom: 0px;">

    <div class="col-start-3 row-start-1 row-span-1 col-span-3 flex flex-col md:flex-row md:pl-8">


      <div class="flex-1 mt-6 md:mt-0">
        <p class="md-mb-6" style= "font-family: S-CoreDream-3Light;">바로가기</p>
        <ul class="text-white">

          <li class="mt-2 md:mt-4 inline-block mr-6 md:block md:mr-0" style="margin-bottom: 19px;">
            <a href="file:///C:/Users/Jisung/Desktop/project/second_shot/components/introduce/intro.html" class="no-underline hover:font-bold"
            style="font-size: 15px; font-family: S-CoreDream-3Light;" >펴다소개</a>
          </li>
          <li class="mt-2 md:mt-4 inline-block mr-6 md:block md:mr-0" style="margin-bottom: 19px;">
            <a href="file:///C:/Users/Jisung/Desktop/project/second_shot/components/book./book.html" class="no-underline hover:font-bold"
            style="font-size: 15px; font-family: S-CoreDream-3Light;">독서모임</a>
          </li>
          <li class="mt-2 md:mt-4 inline-block mr-6 md:block md:mr-0" style="margin-bottom: 19px;">
            <a href="file:///C:/Users/Jisung/Desktop/project/second_shot/components/talk./talk.html" class="no-underline hover:font-bold"
            style="font-size: 15px; font-family: S-CoreDream-3Light;">토크콘서트</a>
          </li>
          <li class="mt-2 md:mt-4 inline-block mr-6 md:block md:mr-0">
            <a href="file:///C:/Users/Jisung/Desktop/project/second_shot/components/club./club.html" class="no-underline hover:font-bold"
            style="font-size: 15px; font-family: S-CoreDream-3Light;">클럽활동</a>
          </li>
        </ul>
      </div>
      <div class="flex-1 mt-6 md:mt-0 md:pr-6">
        <p class="md-mb-6" style= "font-family: S-CoreDream-3Light;">약관 및 정책</p>
        <ul class="text-white">
          <li class="mt-2 md:mt-4 inline-block mr-6 md:block md:mr-0" style="margin-bottom: 19px;">
            <a href="file:///C:/Users/Jisung/Desktop/project/second_shot/components/policy/policy.html" class="no-underline hover:font-bold" style="font-size: 15px; font-family: S-CoreDream-3Light;">이용약관</a>
          </li>
          <li class="mt-2 md:mt-4 inline-block mr-6 md:block md:mr-0" style="margin-bottom: 19px;">
            <a href="file:///C:/Users/Jisung/Desktop/project/second_shot/components/policy/policy2.html" class="no-underline hover:font-bold" style="font-size: 15px; font-family: S-CoreDream-3Light;">개인정보처리방침</a>
          </li>
          <li class="mt-2 md:mt-4 inline-block mr-6 md:block md:mr-0">
            <a href="file:///C:/Users/Jisung/Desktop/project/second_shot/components/policy/policy3.html" class="no-underline hover:font-bold" style="font-size: 15px; font-family: S-CoreDream-3Light;">환불약관</a>
          </li>
        </ul>
      </div>
      <div class="flex-1 mt-6 md:mt-0 md:pr-6 block md:hidden">
        <p class="md-mb-6" style= "font-family: S-CoreDream-3Light;">고객센터</p>
        <div class="mt-1">
          <div class="flex items-center">
            <span class="fas fa-phone-alt mr-2"></span><a href="tel:+82221352556" class="text-white">02-2135-2556</a>
          </div>
          <div class="flex items-center mt-1">
            <span class="fas fa-envelope mr-2"></span><a href="mailto:support@sleekproject.com" class="text-white">support@sleekproject.com</a>
          </div>
          <div class="mt-1">
            <span class="inline-block w-16">평일</span><span>오전10시 ~ 오후7시</span>
          </div>
          <div class="mt-1">
            <span class="inline-block w-16">점심시간</span><span>오후12시 ~ 오후2시</span>
          </div>
        </div>
      </div>
      <div class="flex-1 mt-6 md:mt-0 md:pr-6">
        <p class="md-mb-6" style= "font-family: S-CoreDream-3Light;">회사</p>
        <ul class="text-white">
          <li class="mt-2 md:mt-4 inline-block mr-6 md:block md:mr-0" style="margin-bottom: 19px;">
            <a target="_blank" href="file:///C:/Users/Jisung/Desktop/project/second_shot/components/login/404.html" class="no-underline hover:font-bold" style="font-size: 15px; font-family: S-CoreDream-3Light;">펴다</a>
          </li>
          <li class="mt-2 md:mt-4 inline-block mr-6 md:block md:mr-0" style="margin-bottom: 19px;">
            <a target="_blank" href="file:///C:/Users/Jisung/Desktop/project/second_shot/components/login/404.html" class="no-underline hover:font-bold" style="font-size: 15px; font-family: S-CoreDream-3Light;">채용정보</a>
          </li>
          <li class="mt-2 md:mt-4 inline-block mr-6 md:block md:mr-0">
            <a target="_blank" href="file:///C:/Users/Jisung/Desktop/project/second_shot/components/login/404.html" class="no-underline hover:font-bold" style="font-size: 15px; font-family: S-CoreDream-3Light;">연락하기</a>
          </li>
        </ul>
      </div>
      <div class="flex-1 mt-6 md:mt-0">

        <p class="md-mb-6" style=" font-family: S-CoreDream-3Light;">SNS</p>
        <ul class="" style="color: white; font-size: 22px;">

          <li>
            <a href="https://www.instagram.com/jigung2" class="no-underline"><i class="fab fa-instagram"></i></a>
          </li>
          <li style="margin-top: 20px;">
            <a href="https://www.facebook.com/profile.php?id=100005078139453" class="no-underline"><i class="fab fa-facebook"></i></a>
          </li>

        </ul>
      </div>
    </div>

    <div class="col-start-1 row-start-1 row-span-1 col-span-2 flex flex-col justify-start pt-12 md:pt-0">

      <a class="no-underline hover:no-underline" href="../../home.html" style="font-size: 43px; color: white; font-family:ChosunKm ;">
        PYEODA
      </a>
      <p class="leading-loose mt-4 md:mt-8" style="margin-top: 50px; line-height: 30px; color: rgb(255, 255, 255); font-family: S-CoreDream-3Light; font-size: 13.5px;">
        (주)펴다 대표 정지성
        <br>
        사업자등록번호 613-82-120730
        <br>
        통신판매번호 2021-전남순천-0157
        <br>
        전라남도 순천시 연향동 1492-2 태흥전산 건물 3F
        <br>
            <a href="tel:+82106327467" class="text-white">TEL : 010-6327-4657</a>　       
            <a href="mailto:support@pyeoda.com" class="text-white">E-mail : support@pyedoa.com</a>
        <br>
        고객센터: 평일 오전9시 ~ 오후5시 (점심시간 오후12시 ~ 오후1시)

        </div>


        </span>
      </p>
  </div>
</footer>
