<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  

  <title>펴다 : 당신의 모든 것!</title>  

    <link href="./design/nav-style.css" rel="stylesheet" >
    <link href="./design/design.css" rel="stylesheet">
    <link href="./design/main.css" rel="stylesheet">
    <link href="./design/font.css" rel="stylesheet">
    <link href="./design/foot-css.css" rel="stylesheet">
    <link href="./design/font-awesome.min.css" rel="stylesheet">
    <link rel="icon" href="../../assets/favicon.ico" />
    <link href="./css/settings.css" rel="stylesheet">

    <style> img { display: block; margin: 0px auto; }</style>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.2.0/css/all.min.css" integrity="sha512-6c4nX2tn5KbzeBJo9Ywpa0Gkt+mzCzJBrE1RB6fmpcsoN+b/w/euwIMuQKNyUoU/nToKN3a8SgNOtPrbW12fug==" crossorigin="anonymous" />
    
</head>

<body>
    <script src="./js/menu-script.js"></script>



      <div class="mfn-main-slider" id="mfn-rev-slider">
        <div
          id="rev_slider_1_1_wrapper"
          class="rev_slider_wrapper fullscreen-container"
          data-source="gallery"
          style="background: #e9e9ea; padding: 0px; background-size: cover;"
        >
          <div
            id="rev_slider_1_1"
            class="rev_slider fullscreenbanner"
            style="display: none; background-size: cover;"
            data-version="5.4.8"
          >
            <ul>
              
              <li
                data-index="rs-2"
                data-transition="fade"
                data-slotamount="default"
                data-hideafterloop="0"
                data-hideslideonmobile="off"
                data-easein="Power3.easeIn"
                data-easeout="Power3.easeOut"
                data-masterspeed="5"
                data-delay="1200"
                data-rotate="0"
                data-saveperformance="off"
                data-title="Slide"
                data-param1=""
                data-param2=""
                data-param3=""
                data-param4=""
                data-param5=""
                data-param6=""
                data-param7=""
                data-param8=""
                data-param9=""
                data-param10=""
                data-description=""
              >
                <img
                  src="../../assets/images/tc-2.jpg"
                  data-bgposition="center center"
                  data-kenburns="on"
                  data-duration="5000"
                  data-ease="Linear.easeNone"
                  data-scalestart="100"
                  data-scaleend="120"
                  data-rotatestart="0"
                  data-rotateend="0"
                  data-blurstart="0"
                  data-blurend="0"
                  data-offsetstart="0 0"
                  data-offsetend="10 20"
                  data-bgparallax="4"
                  class="rev-slidebg"
                  
                />
              </li>
              <li
                data-index="rs-3"
                data-transition="fade"
                data-slotamount="default"
                data-hideafterloop="0"
                data-hideslideonmobile="off"
                data-easein="Power3.easeIn"
                data-easeout="Power3.easeOut"
                data-masterspeed="5"
                data-delay="1200"
                data-rotate="0"
                data-saveperformance="off"
                data-title="Slide"
                data-param1=""
                data-param2=""
                data-param3=""
                data-param4=""
                data-param5=""
                data-param6=""
                data-param7=""
                data-param8=""
                data-param9=""
                data-param10=""
                data-description=""
              >
                <img
                  src="../../assets/images/tc-4.jpg"
                  data-bgposition="center center"
                  data-kenburns="on"
                  data-duration="5000"
                  data-ease="Linear.easeNone"
                  data-scalestart="100"
                  data-scaleend="120"
                  data-rotatestart="0"
                  data-rotateend="0"
                  data-blurstart="0"
                  data-blurend="0"
                  data-offsetstart="0 0"
                  data-offsetend="0 0"
                  data-bgparallax="4"
                  class="rev-slidebg"
                />
              </li>
              <li
                data-index="rs-4"
                data-transition="fade"
                data-slotamount="default"
                data-hideafterloop="0"
                data-hideslideonmobile="off"
                data-easein="Power3.easeIn"
                data-easeout="Power3.easeOut"
                data-masterspeed="5"
                data-delay="1200"
                data-rotate="0"
                data-saveperformance="off"
                data-title="Slide"
                data-param1=""
                data-param2=""
                data-param3=""
                data-param4=""
                data-param5=""
                data-param6=""
                data-param7=""
                data-param8=""
                data-param9=""
                data-param10=""
                data-description=""
              >
                <img
                  src="../../assets/images/tc-5.jpg"
                  data-bgposition="center top"
                  data-kenburns="on"
                  data-duration="5000"
                  data-ease="Linear.easeNone"
                  data-scalestart="100"
                  data-scaleend="110"
                  data-rotatestart="0"
                  data-rotateend="0"
                  data-blurstart="0"
                  data-blurend="0"
                  data-offsetstart="0 0"
                  data-offsetend="0 -40"
                  data-bgparallax="4"
                  class="rev-slidebg"
                />
              </li>
              <li
              data-index="rs-5"
              data-transition="fade"
              data-slotamount="default"
              data-hideafterloop="0"
              data-hideslideonmobile="off"
              data-easein="Power3.easeIn"
              data-easeout="Power3.easeOut"
              data-masterspeed="5"
              data-delay="1200"
              data-rotate="0"
              data-saveperformance="off"
              data-title="Slide"
              data-param1=""
              data-param2=""
              data-param3=""
              data-param4=""
              data-param5=""
              data-param6=""
              data-param7=""
              data-param8=""
              data-param9=""
              data-param10=""
              data-description=""
            >
            <img
                  src="../../assets/images/tc-6.jpg"
                  data-bgposition="center top"
                  data-kenburns="on"
                  data-duration="5000"
                  data-ease="Linear.easeNone"
                  data-scalestart="100"
                  data-scaleend="120"
                  data-rotatestart="0"
                  data-rotateend="0"
                  data-blurstart="0"
                  data-blurend="0"
                  data-offsetstart="0 0"
                  data-offsetend="0 -40"
                  data-bgparallax="4"
                  class="rev-slidebg"
                />
                </li>
                <li
                data-index="rs-5"
                data-transition="fade"
                data-slotamount="default"
                data-hideafterloop="0"
                data-hideslideonmobile="off"
                data-easein="Power3.easeIn"
                data-easeout="Power3.easeOut"
                data-masterspeed="5"
                data-delay="1000"
                data-rotate="0"
                data-saveperformance="off"
                data-title="Slide"
                data-param1=""
                data-param2=""
                data-param3=""
                data-param4=""
                data-param5=""
                data-param6=""
                data-param7=""
                data-param8=""
                data-param9=""
                data-param10=""
                data-description=""
              >
              <img
                  src="../../assets/images/tc-7.jpg"
                  data-bgposition="center top"
                  data-kenburns="on"
                  data-duration="5000"
                  data-ease="Linear.easeNone"
                  data-scalestart="100"
                  data-scaleend="120"
                  data-rotatestart="0"
                  data-rotateend="0"
                  data-blurstart="0"
                  data-blurend="0"
                  data-offsetstart="0 0"
                  data-offsetend="0 -40"
                  data-bgparallax="4"
                  class="rev-slidebg"
                  style="background-size: cover;"
                />
                </li>
            </ul>
          
    </div>
    <div class="section-container section-half-background-image-container" style="height: 700px;">
      <div class="image-column" style="background-image: url('../../assets/images/img-01.jpg'); width: 650px; height: 500px; margin-top: 95px; margin-left: 75px;"></div>
      <div class="container">
          <div class="row">

              <div class="col-md-6 col-md-offset-6 text-column" style="text-align: left;">
                  <h2 style="font-family: 마루 부리 beta; font-size: 33px;">세상 단 하나뿐인 토크콘서트</h2>
                  <h3 style="font-family: 마루 부리 beta; font-size: 20px;">지혜의 넓이를 펼치다.</h3>
                  <br>
                  <p style="font-family:NEXON Lv1 Gothic OTF; line-height: 27px; font-size: 14px; ">
                      책을 읽고 책에 대해 나누는 것도 좋지만 가끔은 사람 사는 얘기, 세상 돌아가는 이야기도 좋지 않을까요? 
                      펴다 토크콘서트는 자유로운 생각, 자유로운 사람, 자유로운 대화를 지향합니다.  </p>
  
                  <p style="font-family:NEXON Lv1 Gothic OTF; line-height: 27px; font-size: 14px;">
                      매월 새로운 주제, 새로운 사람과 함께 토크콘서트를 즐겨요. 있는 그대로의 자신의 모습을 포장하지 않고 정직하게 마주보며 이야기해요.<br>
                      </p>
                  <p style="font-family:NEXON Lv1 Gothic OTF; line-height: 27px; font-size: 14px;">
                      각자의 분야에서 열심히 살아온 각각의 인생 선배들과 이야기 나누며 지혜의 넓이를 펼쳐봐요. 원하신다면 펴다팀과 함께 토크콘서트를 개최할 수 있어요.</p>
                      <br>
                      <Br>

              </div>
          </div>
      </div>
  </div>
  


    <div class="background-image-container2 white-text-container" style="background-image: url('../../assets/images/img-01.jpg');background-color: rgb(255, 255, 255); padding-top: 50px;">
      <div class="overlay3"></div>
      <div class=jisung_box>
      <div class="container" style="padding-top: 50px;">
      <div class="row">
          <div class="col-xs-12" style="text-align: left;">

              <h3 style="text-align: left; margin-top: 10px; margin-bottom: 10px; font-family: 마루 부리 beta; color: rgb(105, 105, 105); font-size: 18px;">
                  Participation</h3>
              <span class="" style="border-top:3px rgb(206, 92, 17) solid; text-align: left;">
              　　　 </span>
              <h1 style="text-align:left; padding-bottom: 60px; font-size: 30px; color: rgb(206, 92, 17);margin-top: 0px; font-family:'마루 부리 Beta'; padding-bottom: 100px; font-weight: bold;">
           토크콘서트는 이렇게 진행됩니다.</h1>
           <p style="text-align: left; color: rgb(206, 92, 17); font-size: 19px; font-family: 마루 부리 beta; font-weight: bold; ">1. 매월 다음달 토크콘서트가 개최돼요.</p>
           <p style="text-align: left; color: black; font-size: 15px; font-family: NEXON Lv1 Gothic OTF">새로운 주제, 새로운 사람들과 함께 진행되는 토크콘서트! 매월 관심을 가지고 자신이 참여하고 싶은 토크콘서트를 신청해요.</p>
           <br>
           <p style="text-align: left; color: rgb(206, 92, 17); font-size: 19px; font-family: 마루 부리 beta; font-weight: bold;">2. 쌍방향의 소통을 지향해요.</p>
           <p style="text-align: left; color: black; font-size: 15px; font-family: NEXON Lv1 Gothic OTF">토크콘서트를 진행하는 진행팀과 발표자가 있지만 일방향적인 의사전달이 아닌 발표를 듣고 정리해 함께 나누는 시간을 가져요.</p>
           <br>
           <p style="text-align: left; color: rgb(206, 92, 17); font-size: 19px; font-family: 마루 부리 beta; font-weight: bold;">3. 친목과 토론을 함께해요.</p>
           <p style="text-align: left; color: black; font-size: 15px; font-family: NEXON Lv1 Gothic OTF">딱딱한 토크콘서트의 분위기에서 탈피하여 펴다는 자유분방하고 즐거운 토크콘서트를 진행하기 위해 노력합니다. 토크콘서트 전엔 간단한 티타임과 함께 사람들과 자유롭게 대화하며 분위기를 풀고, 콘서트 후엔 함께 소감발표를 통해 생각을 정립하는 시간을 가져요. </p>
           <span class="" style=" display:block;margin-top:35px; border-bottom:1px rgb(206, 92, 17) solid; text-align: left; margin-bottom: 10px;">
          　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　
          　　　　　　　　　　</span>
          <p style="text-align: left; color: rgb(206, 92, 17); margin-top: 45px; margin-bottom: 20px; font-size: 18px; font-family: 마루 부리 beta; font-weight: bold;" >
              ✔️ 이것만은 지켜주세요</p> 
          <p style="text-align: left; color: black; font-size: 15px; font-family: NEXON Lv1 Gothic OTF; line-height: 25px;">'-님', 호칭을 사용하고 존대해요.<br>

              예정된 토크콘서트 시간에 늦지않도록 해요.<br>
              
              다른 멤버의 발언을 경청하고 존중해요.<br>
              
              드레스코드가 있을 시, 꼭 준수해주세요.<br>
            

          </div>
  </div>
  </div>
</div>
</div>



<div class="section-container section-half-background-image-container" style="background-color: white; height: 800px;">
  <div class="image-column" style="background-image: url('../../assets/images/augcon.png'); background-size: cover; background-size: 100%; width: 650px; margin-top: 180px;"></div> 
  <div class="container" style="">
      <div class="row">

          <div class="col-md-6 col-md-offset-61 text-column" style="text-align: left; padding-top: 65px;">
              <h2 style="font-family: 마루 부리 beta; font-size: 33px; ">9월의 토크콘서트</h2>
              <h3 style="font-family: S-CoreDream-3Light; font-size: 20px;">스몰 스텝의 씨앗을 심어요.</h3>
              <br>
              <p style="font-family:NEXON Lv1 Gothic OTF; line-height: 27px; font-size: 14px; ">
                  무더위가 지나가고 선선해지기 시작하는 9월, 당신의 삶은 어떠신가요? </p>

              <p style="font-family:NEXON Lv1 Gothic OTF; line-height: 27px; font-size: 14px; line-height: 30px;">
                  해야하는 일과 하고 싶은 일, 워라밸 사이에서 고통받고 있진 않나요? 요즈음 유튜브와 인터넷엔 알고리즘이란 개념이 존재합니다. 우리의 삶에도 행동에도 알고리즘이 존재하지요.
                  이번 토크콘서트에선 개개인이 가지고 있는 삶의 알고리즘과 그 씨앗들이 우리의 삶엔 어떻게 영향을 미치는지에 대해 심도있게 발표합니다. 서로를 돌아보고 서로의 삶엔 어떤 알고리즘이 있는지, 어떻게 고쳐나가고 삶을 아름답게 변화시켜 나가야 할지 궁금하지 않나요?
                  지금 바로 9월의 토크콘서트 스몰 스텝의 씨앗에서 함께해요.<br>
                  </p>
                  <br>
                  <Br>
              <button type="button" value="버튼" onclick="location.href='file:///C:/Users/Jisung/Desktop/project/second_shot/components/talk/talk2/talks/talk-1.html'" style="font-family: 나눔스퀘어라운드 Regular;">9월 토크콘서트 신청하기</button>
          </div>
      </div>
  </div>
</div>



</body>


<footer class="w-full px-0 sm:px-12 bg-blue-900 text-blue-400 font-light md:font-normal text-sm md:text-sm"
style="padding-left: 48px; padding-right: 48px; padding-bottom: 0px; height: 420px; background-color: rgb(255, 162, 41);">
  <div class="container mx-auto block md:grid grid-rows-1 grid-cols-5 px-5 pt-8 pb-16 md:px-0 md:pt-20 md:pb-20" style="padding-top: 90px; padding-bottom: 0px;">

    <div class="col-start-3 row-start-1 row-span-1 col-span-3 flex flex-col md:flex-row md:pl-8">


      <div class="flex-1 mt-6 md:mt-0">
        <p class="md-mb-6">바로가기</p>
        <ul class="text-white">

          <li class="mt-2 md:mt-4 inline-block mr-6 md:block md:mr-0" style="margin-bottom: 19px;">
            <a href="file:///C:/Users/Jisung/Desktop/project/second_shot/components/introduce/intro.html" class="no-underline hover:font-bold"
            style="font-size: 15px; font-family: S-CoreDream-3Light;" >펴다소개</a>
          </li>
          <li class="mt-2 md:mt-4 inline-block mr-6 md:block md:mr-0" style="margin-bottom: 19px;">
            <a href="file:///C:/Users/Jisung/Desktop/project/second_shot/components/book./book.html" class="no-underline hover:font-bold"
            style="font-size: 15px; font-family: S-CoreDream-3Light;">독서모임</a>
          </li>
          <li class="mt-2 md:mt-4 inline-block mr-6 md:block md:mr-0" style="margin-bottom: 19px;">
            <a href="file:///C:/Users/Jisung/Desktop/project/second_shot/components/talk./talk.html" class="no-underline hover:font-bold"
            style="font-size: 15px; font-family: S-CoreDream-3Light;">토크콘서트</a>
          </li>
          <li class="mt-2 md:mt-4 inline-block mr-6 md:block md:mr-0">
            <a href="file:///C:/Users/Jisung/Desktop/project/second_shot/components/club./club.html" class="no-underline hover:font-bold"
            style="font-size: 15px; font-family: S-CoreDream-3Light;">클럽활동</a>
          </li>
        </ul>
      </div>
      <div class="flex-1 mt-6 md:mt-0 md:pr-6">
        <p class="md-mb-6">약관 및 정책</p>
        <ul class="text-white">
          <li class="mt-2 md:mt-4 inline-block mr-6 md:block md:mr-0" style="margin-bottom: 19px;">
            <a href="file:///C:/Users/Jisung/Desktop/project/second_shot/components/policy/policy.html" class="no-underline hover:font-bold" style="font-size: 15px; font-family: S-CoreDream-3Light;">이용약관</a>
          </li>
          <li class="mt-2 md:mt-4 inline-block mr-6 md:block md:mr-0" style="margin-bottom: 19px;">
            <a href="file:///C:/Users/Jisung/Desktop/project/second_shot/components/policy/policy2.html" class="no-underline hover:font-bold" style="font-size: 15px; font-family: S-CoreDream-3Light;">개인정보처리방침</a>
          </li>
          <li class="mt-2 md:mt-4 inline-block mr-6 md:block md:mr-0">
            <a href="file:///C:/Users/Jisung/Desktop/project/second_shot/components/policy/policy3.html" class="no-underline hover:font-bold" style="font-size: 15px; font-family: S-CoreDream-3Light;">환불약관</a>
          </li>
        </ul>
      </div>
      <div class="flex-1 mt-6 md:mt-0 md:pr-6 block md:hidden">
        <p class="md-mb-6">고객센터</p>
        <div class="mt-1">
          <div class="flex items-center">
            <span class="fas fa-phone-alt mr-2"></span><a href="tel:+82221352556" class="text-white">02-2135-2556</a>
          </div>
          <div class="flex items-center mt-1">
            <span class="fas fa-envelope mr-2"></span><a href="mailto:support@sleekproject.com" class="text-white">support@sleekproject.com</a>
          </div>
          <div class="mt-1">
            <span class="inline-block w-16">평일</span><span>오전10시 ~ 오후7시</span>
          </div>
          <div class="mt-1">
            <span class="inline-block w-16">점심시간</span><span>오후12시 ~ 오후2시</span>
          </div>
        </div>
      </div>
      <div class="flex-1 mt-6 md:mt-0 md:pr-6">
        <p class="md-mb-6">회사</p>
        <ul class="text-white">
          <li class="mt-2 md:mt-4 inline-block mr-6 md:block md:mr-0" style="margin-bottom: 19px;">
            <a target="_blank" href="file:///C:/Users/Jisung/Desktop/project/second_shot/components/login/404.html" class="no-underline hover:font-bold" style="font-size: 15px; font-family: S-CoreDream-3Light;">펴다</a>
          </li>
          <li class="mt-2 md:mt-4 inline-block mr-6 md:block md:mr-0" style="margin-bottom: 19px;">
            <a target="_blank" href="file:///C:/Users/Jisung/Desktop/project/second_shot/components/login/404.html" class="no-underline hover:font-bold" style="font-size: 15px; font-family: S-CoreDream-3Light;">채용정보</a>
          </li>
          <li class="mt-2 md:mt-4 inline-block mr-6 md:block md:mr-0">
            <a target="_blank" href="file:///C:/Users/Jisung/Desktop/project/second_shot/components/login/404.html" class="no-underline hover:font-bold" style="font-size: 15px; font-family: S-CoreDream-3Light;">연락하기</a>
          </li>
        </ul>
      </div>
      <div class="flex-1 mt-6 md:mt-0">

        <p class="md-mb-6">SNS</p>
        <ul class="" style="color: white; font-size: 22px;">

          <li>
            <a href="https://www.instagram.com/jigung2" class="no-underline"><i class="fab fa-instagram"></i></a>
          </li>
          <li style="margin-top: 20px;">
            <a href="https://www.facebook.com/profile.php?id=100005078139453" class="no-underline"><i class="fab fa-facebook"></i></a>
          </li>

        </ul>
      </div>
    </div>

    <div class="col-start-1 row-start-1 row-span-1 col-span-2 flex flex-col justify-start pt-12 md:pt-0">

      <a class="no-underline hover:no-underline" href="../../home.html" style="font-size: 43px; color: white; font-family:ChosunKm ;">
        PYEODA
      </a>
      <p class="leading-loose mt-4 md:mt-8" style="margin-top: 50px; line-height: 30px; color: rgb(255, 255, 255); font-family: S-CoreDream-3Light; font-size: 13.5px;">
        (주)펴다 대표 정지성
        <br>
        사업자등록번호 613-82-120730
        <br>
        통신판매번호 2021-전남순천-0157
        <br>
        전라남도 순천시 연향동 1492-2 태흥전산 건물 3F
        <br>
            <a href="tel:+82106327467" class="text-white">TEL : 010-6327-4657</a>　       
            <a href="mailto:support@pyeoda.com" class="text-white">E-mail : support@pyedoa.com</a>
        <br>
        고객센터: 평일 오전9시 ~ 오후5시 (점심시간 오후12시 ~ 오후1시)

        </div>


        </span>
      </p>
  </div>
</footer>


<script type="text/javascript" src="./js/main.faaf51f9.js"></script>
<script src="./js/jquery-2.1.4.min.js"></script>


<script src="./js/jquery.plugins.js"></script>
<script src="./js/jquery.jplayer.min.js"></script>
<script src="./js/animations/animations.js"></script>


<script src="./plugins/rs-plugin-5.3.1/js/jquery.themepunch.tools.min.js"></script>
<script src="./plugins/rs-plugin-5.3.1/js/jquery.themepunch.revolution.min.js"></script>

<script src="./plugins/rs-plugin-5.3.1/js/extensions/revolution.extension.video.min.js"></script>
<script src="./plugins/rs-plugin-5.3.1/js/extensions/revolution.extension.slideanims.min.js"></script>
<script src="./plugins/rs-plugin-5.3.1/js/extensions/revolution.extension.actions.min.js"></script>
<script src="./plugins/rs-plugin-5.3.1/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script src="./plugins/rs-plugin-5.3.1/js/extensions/revolution.extension.kenburn.min.js"></script>
<script src="./plugins/rs-plugin-5.3.1/js/extensions/revolution.extension.migration.min.js"></script>
<script src="./plugins/rs-plugin-5.3.1/js/extensions/revolution.extension.parallax.min.js"></script>

<script>
  var revapi1, tpj;
  (function () {
    if (!/loaded|interactive|complete/.test(document.readyState))
      document.addEventListener("DOMContentLoaded", onLoad);
    else onLoad();
    function onLoad() {
      if (tpj === undefined) {
        tpj = jQuery;
        if ("off" == "on") tpj.noConflict();
      }
      if (tpj("#rev_slider_1_1").revolution == undefined) {
        revslider_showDoubleJqueryError("#rev_slider_1_1");
      } else {
        revapi1 = tpj("#rev_slider_1_1")
          .show()
          .revolution({
            sliderType: "standard",
            sliderLayout: "fullscreen",
            dottedOverlay: "none",
            delay: 9000,
            navigation: {
              onHoverStop: "off",
            },
            visibilityLevels: [1240, 1024, 778, 480],
            gridwidth: 1240,
            gridheight: 600,
            lazyType: "none",
            parallax: {
              type: "scroll",
              origo: "enterpoint",
              speed: 400,
              speedbg: 0,
              speedls: 0,
              levels: [
                5, 10, 15, 20, 25, 30, 35, 40, 45, 46, 47, 48, 49, 50, 51,
                55,
              ],
            },
            shadow: 0,
            spinner: "spinner2",
            stopLoop: "off",
            stopAfterLoops: -1,
            stopAtSlide: -1,
            shuffle: "off",
            autoHeight: "off",
            fullScreenAutoWidth: "on",
            fullScreenAlignForce: "off",
            fullScreenOffsetContainer: "#Top_bar",
            fullScreenOffset: "60px",
            disableProgressBar: "on",
            hideThumbsOnMobile: "off",
            hideSliderAtLimit: 0,
            hideCaptionAtLimit: 0,
            hideAllCaptionAtLilmit: 0,
            debugMode: false,
            fallbacks: {
              simplifyAll: "off",
              nextSlideOnWindowFocus: "off",
              disableFocusListener: false,
            },
          });
      }
    }
  })();
</script>